.App {
  text-align: center;
}

.india-flag {
  border: 5px solid #fff;
}

.india-flag ul {
  margin: 0;
  padding: 0;
  border: 5px solid #000;
}

.india-flag ul li {
  list-style: none;
  min-height: calc(100vh/3);
}

p.In-flag-circle {
  width: calc(100vh/3);
  height: calc(100vh/3);
  border: 1px solid #1f1f36;
  margin: 0;
  border-radius: 50%;
  background-color: #1f1f36;
  
}

.india-flag ul li:nth-child(1) {
  background-color: orange;
}

.india-flag ul li:nth-child(2) {
  background-color: #fff;
    display: flex;
    justify-content: center;
}

.india-flag ul li:nth-child(3) {
  background-color: green;
}

.french-flag .fleg-inner {
  border: 5px solid;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.french-flag .fleg-inner div {
  width: calc(100vw/3);
  height: 100vh;
}

.french-flag .fleg-inner .left {
  background-color: #002395;
}

.french-flag .fleg-inner .mid {
  background-color: white;
}

.french-flag .fleg-inner .right {
  background-color: #ed2939;
}
